#hello
  p.bold Bem-vindo. #[br] Somos uma agência de #[br] Marketing Digital.
  span.button(@click="goToContact") Bora lá!
    span.im.im-arrow-right

  span.link(@click="goToCases") #[span.im.im-angle-right-circle] Trabalhos
