#footer
  span.bold.end that's all, folks :)
  nav
    .menu
      span.link(:class="{ active: pageActive == 1 }") atwork.
      span.link(:class="{ active: pageActive == 2 }") contato
      span.link(:class="{ active: pageActive == 3 }") sobre
    .networks
      span.im.im-instagram